body {
    /* make the backdrop behave */
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* layout options */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Typography stuff */
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

h1 {
    font-size: 16px;
    opacity: .9;
}

h2 {
    font-size: .75em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}

button:hover {
    background: #f5f5f5;
}

button:active {
    background: #e0e0e0;
}

.caption {
    font-size: .7em;
}

.command-palette {
    background: #050505;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 8px 32px;
    padding-right: 56px;
    font-size: .75em;
    margin: 24px 0;
}

#command-text {
    color: rgba(255,255,255,.8);
}

#command-text:before {
    content: '>';
    margin-right: 24px;
    color: rgba(255,255,255,1);
}
